<app-nav-bar></app-nav-bar>

<!-- Header Start -->
<div class="container header bg-white p-0 mt-5">
  <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
    <div class="col-md-6 p-5 mt-lg-5 wow fadeInUp" data-wow-delay="0.3s">
      <div class="property-item rounded overflow-hidden">
        <div class="position-relative overflow-hidden">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  class="img-fluid"
                  src="assets/img/single-720x470.jpg"
                  alt="jjjj"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="img-fluid"
                  src="assets/img/single-720x470.jpg"
                  alt=""
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div
            class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3"
          >
            Available
          </div>
          <div
            class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3"
          >
            Villa
          </div>
        </div>
        <div class="p-4 pb-0">
          <h5 class="text-primary mb-3">$12,345</h5>
          <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
          <p>
            <i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street,
            New York, USA
          </p>
        </div>
        <div class="d-flex border-top">
          <small class="flex-fill text-center border-end py-2"
            ><i class="fa fa-ruler-combined text-primary me-2"></i>1000
            Sqft</small
          >
          <small class="flex-fill text-center border-end py-2"
            ><i class="fa fa-bed text-primary me-2"></i>3 Bed</small
          >
          <small class="flex-fill text-center py-2 border-end"
            ><i class="fa fa-bath text-primary me-2"></i>2 Bath</small
          >
          <small class="flex-fill text-center py-2"
            ><i class="fa fa-female text-primary me-2"></i>Hair Dryer</small
          >
        </div>
        <div class="d-flex border-top">
          <small class="flex-fill text-center py-2 border-end"
            ><i class="fa fa-coffee text-primary me-2"></i>Breakfast</small
          >
          <small class="flex-fill text-center py-2 border-end"
            ><i class="fa fa-coffee text-primary me-2"></i>Coffee Maker</small
          >
          <small class="flex-fill text-center py-2 border-end"
            ><i class="fa fa-beer text-primary me-2"></i> Mini Bar</small
          >
          <small class="flex-fill text-center py-2"
            ><i class="fa fa-gamepad text-primary me-2"></i> Gaming</small
          >
        </div>

        <div class="d-flex border-top">
          <small class="flex-fill text-center border-end py-2"
            ><i class="fa fa-wifi text-primary me-2"></i>Wi-Fi</small
          >

          <small class="flex-fill text-center border-end py-2"
            ><i class="fa fa-thermometer-three-quarters text-primary me-2"></i
            >Air Conditioner</small
          >
          <small class="flex-fill text-center border-end py-2"
            ><i class="fa fa-desktop text-primary me-2"></i>Widescreen TV</small
          >
          <small class="flex-fill text-center py-2"
            ><i class="fa fa-phone text-primary me-2"></i> Free-to-use
            Smartphone</small
          >
        </div>
      </div>
    </div>
    <div class="col-md-6 wow fadeInUp main-container" data-wow-delay="0.3s" style="padding-right: 45px;">
      <div class="property-item rounded">
        <div class="container-fuild second-container" >
          <form>
            <div>
              <h2 class="title text-muted" style="font-size: 20px;position: relative;">Book Your Room</h2>
              <div class="form-group mb-2">
                <label>Check In</label>
                <input
                  type="date"
                  class="form-control"
                  placeholder="Check in"
                />
              </div>
              <div class="form-group mb-2">
                <label>Check Out</label>
                <input
                  type="date"
                  class="form-control"
                  placeholder="Check out"
                />
              </div>
              <div class="form-group mb-2">
                <label>Guests</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter number of guest"
                />
              </div>

              <button type="submit" class="btn btn-primary">Check Availablity</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Header End -->
