/* .main-style{
  width: 1661px;
  margin-left: 101px;
} */
/* @media only screen and (max-width: 640px) and (min-width: 360px)  {
  .main-container {
    padding-right: 41px;
    visibility: visible;
    animation-delay: 0.3s;
    animation-name: fadeInUp;
    padding-left: 41px;
    margin-bottom: -170px;
  }
} */
