<!-- Header Start -->
<div class="p-0">
  <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
    <div class="col-md-8">
      <div class="property-item rounded overflow-hidden">
        <div class="position-relative overflow-hidden">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active"style="opacity: 0.7;">
                <img
                  class="img-fluid"
                  style="width: 1229px"
                  src="assets/img/carousel-1.jpg"
                  alt=""
                />
                <div
                  class="mt-5 rounded text-white text-center position-absolute start-0 top-0 m-5 py-1 px-3"
                >
                  <h1
                    class="display-5 animated fadeIn mb-4"
                    style="margin-top: 230px"
                  >
                    Find A <span class="text-primary">Perfect Hotel</span> To
                    Live With Your Family
                  </h1>
                  <p class="animated fadeIn mb-4 pb-2">
                    Vero elitr justo clita lorem. Ipsum dolor at sed stet sit
                    diam no. Kasd rebum ipsum et diam justo clita et kasd rebum
                    sea elitr.
                  </p>
                </div>
              </div>
              <div class="carousel-item" style="opacity: 0.7;">
                <img
                  class="img-fluid"
                  style="width: 1229px"
                  src="assets/img/carousel-2.jpg"
                  alt=""

                />
                <div
                class="mt-5 rounded text-white text-center position-absolute start-0 top-0 m-5 py-1 px-3"
              >
                <h1
                  class="display-5 animated fadeIn mb-4"
                  style="margin-top: 216px"
                >
                  Find A <span class="text-primary">Perfect Hotel</span> To
                  Live With Your Family
                </h1>
                <p class="animated fadeIn mb-4 pb-2">
                  Vero elitr justo clita lorem. Ipsum dolor at sed stet sit
                  diam no. Kasd rebum ipsum et diam justo clita et kasd rebum
                  sea elitr.
                </p>
              </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-md-4 wow fadeInUp main-container"
      data-wow-delay="0.3s"
      style="padding-right: 45px"
    >
      <div class="property-item rounded" style="margin-left: 38px">
        <div class="container-fuild second-container">
          <form class="row g-3" [formGroup]="signInForm">
            <div class="px-30 py-10 text-left">
              <a class="link-effect font-w700" style="color: green">
                <span class="font-size-xl font-size-lg">House of </span
                ><span class="font-size-xl">Pearl</span>
              </a>
              <h1 class="h3 font-w700 mt-30 mb-10">
                Welcome to Your login page
              </h1>
              <h2 class="h5 font-w400 text-muted mb-4">Please sign in</h2>
            </div>

            <div class="col-12 mb-2">
              <label class="form-label">Username</label>
              <input type="text" class="form-control form-control-lg" formControlName="username"/>
            </div>
            <div class="col-12 mb-2">
              <label class="form-label">Password</label>
              <input type="text" class="form-control form-control-lg" formControlName="password" />
            </div>
            <div class="col-auto mb-1">
              <div class="form-check">
                <input
                  class="form-check-input mt-1 mx-auto"
                  type="checkbox"
                  id="autoSizingCheck"
                />
                <label class="form-check-label" for="autoSizingCheck">
                  Remember me
                </label>
              </div>
            </div>

            <div class="form-btn col-2">
              <button class="btn prim_btn clickable" (click)="login()">
                <span>Login</span>
              </button>
            </div>

            <div style="margin-top: 1.5rem" class="auth_content_extra">
              <p class="login">
                Don’t have an account?
                <span
                  routerLink="/sign-up"
                  class="text-primary-color body-1-bold clickable"
                  tabindex="0"
                >
                  Sign Up</span
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Header End -->
