<div class="row">
  <div class="col-sm-12 col-lg-6 col-md-12">
    <div class="card info-card customers-card welcome">
      <div class="card-body">
        <h5 class="card-title">
          <span>{{ todayDate | date }}</span> |
          <span>{{ time | date: "hh:mm:ss a" }}</span>
        </h5>
        <div class="d-flex align-items-center">
          <div
            class="card-icon rounded-circle d-flex align-items-center justify-content-center"
          >
            <i class="fa fa-handshake" aria-hidden="true"></i>
          </div>
          <div class="ps-3">
            <h1 style="font-size: 34px">
              {{ salutation }}, {{ loggedInUser?.username | titlecase }}
            </h1>
            <span class="text small pt-1 fw-bold" style="color: #00b98e"
              ><p>
                Your dashboard shows updates on your courses, assignments, and
                all other progress
              </p></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-6 col-md-12 mt-2">
    <div class="row">
      <div class="col-sm-6">
        <div class="card welcome">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div
                class="card-icon rounded-circle d-flex align-items-center justify-content-center"
              >
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </div>
              <div class="ps-3">
                <h1 style="font-size: 34px">129</h1>
                <span class="text small pt-1 fw-bold" style="color: #00b98e"
                  ><p>check in</p></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card welcome">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div
                class="card-icon rounded-circle d-flex align-items-center justify-content-center"
              >
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </div>
              <div class="ps-3">
                <h1 style="font-size: 34px">129</h1>
                <span class="text small pt-1 fw-bold" style="color: #00b98e"
                  ><p>check out</p></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-sm-12 col-lg-6 col-md-12">
    <div class="row">
      <div class="col-sm-12 col-lg-6 col-md-12">
        <div class="card info-card customers-card welcome2">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div
                class="card-icon rounded-circle d-flex align-items-center justify-content-center"
              >
                <p>Available Room Todays</p>
              </div>
              <div class="ps-3">
                <span class="text small  pt-1 fw-bold" style="color: white"

                  ><p class="badge badge-light">12</p></span
                >
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar  progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 col-md-12">
        <div class="card info-card customers-card welcome2">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div
                class="card-icon rounded-circle d-flex align-items-center justify-content-center"
              >
                <p>Sold Out Room Today</p>
              </div>
              <div class="ps-3">
                <span class="text small pt-1 fw-bold" style="color: white"
                  ><p class="badge badge-light">12</p></span
                >

              </div>

            </div>
            <div class="progress ">
              <div class="progress-bar bg-warning  progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6 col-md-12">
    <div class="card welcom">
      <div class="card-header barCard">
        <div class="card-title">
          Sales Progress
        </div>
      </div>
      <div class=" card-body">
        <div style="display: block">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
