<div class="row">
  <div class="col-sm-6">
    <div class="card info-card customers-card welcome">
      <div class="card-body">
        <h5 class="card-title">
          <span>{{ todayDate | date }}</span> |
          <span>{{ time | date: "hh:mm:ss a" }}</span>
        </h5>
        <div class="d-flex align-items-center">
          <div
            class="card-icon rounded-circle d-flex align-items-center justify-content-center"
          >
            <i class="ri-open-arm-fill"></i>
          </div>
          <div class="ps-3 text-primary">
            <h1 style="font-size: 34px">
              {{ salutation }}, {{ loggedInUser?.username | titlecase }}
            </h1>
            <span class="text small pt-1 fw-bold"
              ><p>
                Your dashboard shows updates on your courses, assignments, and
                all other progress
              </p></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6"></div>
</div>
